<div th:fragment="footerInc">
<script src="js/jquery-3.3.1.js"></script>
<script src="js/jquery.dataTables.min.js"></script>
<script src="js/bootstrap4.min.js"></script>
<script type="text/javascript">
  
  $(function(){
	    // this will get the full URL at the address bar
	    var url = window.location.href; 

	    // passes on every "a" tag 
	    $("#sub-header a").each(function() {
	            // checks if its the same on the address bar
	        if(url == (this.href)) { 
	            $(this).closest("a").addClass("active");
	        }
	    });
	});
  </script>
</div>