<div th:fragment="navbar" >
	<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Back End Developer - Technical Assessment</a>
      <div id="babylTestTable">
       <nav class="nav nav-pills">
	    <a href="/" class="nav-item nav-link">Home</a>
	    <a href="/result.do" class="nav-item nav-link">Fizz Buzz</a>
	    <a href="/convert.do" class="nav-item nav-link">Roman Converter</a>
	    <a href="/numRoman.do" class="nav-item nav-link">Roman Calculator</a>
	    <a href="/rest.do" class="nav-item nav-link">Web Services</a>
	</nav>
	</div>
	</div>
  </nav>
 </div>