<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/headerInc :: headerInc"></th:block>
</head>
<body>
<div id="sub-header">
<th:block th:include="fragments/navbar :: navbar"></th:block>
</div>
<div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
						<h2>Roman Numeral Converter</h2>
					</div>
                </div>
            </div>
     <form th:action="@{/convert.do}" method="post">
    <fieldset>
		<div><label>You can convert to/from Roman Numerals: </label></div>
				<div class="form-group">
            <div class="col-sm-4 ">
                <input type="text" class="form-control" name="number" th:value="${result}"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 ">
               <button type="submit" class="btn btn-primary"> Convert</button>
            </div>
        </div>
						
    	</fieldset>
	</form>
	<div th:if="${out}" th:text="${out}"></div>
	<div th:if="${expmodel}" th:text="${expmodel.message}"></div>
        </div>
    </div>
<th:block th:include="fragments/footerInc :: footerInc"></th:block>
</body>
</html>