<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/headerInc :: headerInc"></th:block>
</head>
<body>
<div id="sub-header">
<th:block th:include="fragments/navbar :: navbar"></th:block>
</div>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
						<h2>Fizz Buzz Result</h2>
					</div>
                </div>
            </div>
            <table id="dtBasicExample" class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Number</th>
                        <th>Fizz Buzz</th>
                        <th>Fibonacci sequence</th>
                        <th>Pink Flamingo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="f,iterator: ${output}">

                        <td><span th:utext="${iterator.index}"></span> </td>
                        <td><span th:text="${output[iterator.index]}"></span></td>
                        <td><span th:text="${outputFlamingo[iterator.index]}"></span > </td>
                        <td><span th:text="${outputPinkFlamingo[iterator.index]}"></span> </td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>
</body>
<footer>
<th:block th:include="fragments/footerInc :: footerInc"></th:block>
</footer>
<script src="js/custom.js"></script>
</html>                                		                            